[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=6.0,<7"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg = {extras = ["binary"], version = ">=3.2"}

[dev-packages]

[requires]
python_version = "3.14"
